body,html {
    background-color: #aad4cf;
    margin:0 15%;
    
}

body {
    background-color: #D4E9E7;
    background-image: url("lone-starfish-wide.jpg")
    background-repeat: no-repeat;
    background-position: absolute;
    margin: 0 15%
}

.container {
    position:relative;
    text-align:center;
    
}

#wrap {
float:left;
margin: 0 auto;
max-width: 100%;
max-height:150px ;
}

#head {
    color: white; 
    font-size:300%;
    position: absolute;
    left:35%;
    bottom: 30%;
    font-family: Arial;
}

#box {
    border:solid 1px black;
    width: 100%
    align-items: center;
}


.content-container{
    margin:0 auto;
    max-width: 800px;
    height: 100%;
    bottom: 10%;
    
}

#head2 {
    position: absolute;
    left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

#copyright {
    text-align: right;
}

.container img{
    max-width: 100%;
}

ul#horizontal-list {
    list-style: none;
    min-width: 696px;
    padding-top: 20px;
}

.table{
    display: table;
    margin: 0 auto;
}

ul#horizontal-list li{
    display: inline;
    padding: 0 110px;
    font-size: 20px;
    font-family: sans-serif;
    top: 20%
}


nav{
    justify-content:space-between;
    flex-direction: row;
}