body,html {
    background-color: #aad4cf;
    margin:0 15%;
    
}

body {
    background-color: #D4E9E7;
    background-image: url("lone-starfish-wide.jpg")
    background-repeat: no-repeat;
    background-position: absolute;
    margin: 0 15%;
}

.container {
    position:relative;
    text-align:center;
    
}

#wrap {
float:left;
margin: 0 auto;
max-width: 100%;
max-height:150px;
padding-right: 20px;
padding-top: 20px;
}

#head {
    color: white; 
    font-size:300%;
    position: absolute;
    left:35%;
    bottom: 30%;
    font-family: Arial;
}

#box {
    border:solid 1px black;
    width: 98%;
    height: 625px;
    margin: auto;
}


.content-container{
    margin:0 auto;
    max-width: 800px;
    height: 100%;
    bottom: 10%;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#head2 {
    position: absolute;
    padding-left: 3.5%;
    font-family: Arial, Helvetica, sans-serif;
}

#copyright {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.container img{
    max-width: 100%;
}

ul#horizontal-list {
    list-style: none;
    min-width: 696px;
    padding-top: 5px;
}

.table{
    display: table;
    margin: 0 auto;
}

ul#horizontal-list li{
    display: inline;
    padding: 0 105px;
    font-size: 20px;
    font-family: sans-serif;
    list-style: none;
    border-style: outset;
    border-right: slategray, solid, 100px;
    text-decoration: none;
}

.facts{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
}

.name {
    border-style: solid;
    border-left: slategray, solid, 20px;
}

.message{
    max-width: 600px;
    max-height: 600px;
}

#head3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3.5%;
}

textarea {
    width: 800px;
    height: 300px;
}

#form{
    padding-left: 7%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}